h2{
    color: white;
padding-left: 2rem;
padding-top: 1rem;
}

p{
    color: white;
    padding: 2rem;
}


.sinopsis-container{
    background-image: url('../../assets/noticia_1549.jpg');
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    
}