<h2>Recibe un %10 de descuento!</h2>


<form [formGroup]="miForm">
      <label>Nombre Completo</label>
      <p *ngIf="miForm.controls.nombre.errors && miForm.controls.nombre.touched">
        Debe tener al menos 5 caracteres</p>
      <input type="text" 
      placeholder="Ingrese nombre completo" 
      formControlName="nombre"
      name="nombre"

      />
      <!-- <label>Personaje Favorito</label>
      <input type="text" 
      placeholder="Ingrese personaje favorito" 
      formControlName="personaje"
      name="personaje"
    
      /> -->



<button type="submit">Enviar</button>
</form>
